node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# VSCode extension

# Store launch config in repo but not settings
.vscode/settings.json
/.favorites.json

# TypeScript incremental build states
*.tsbuildinfo

# Local state files & OS specifics
infra/.DS_Store
infra/node_modules/
infra/lerna-debug.log
infra/dist/
infra/pack/
infra/.BUILD_COMPLETED
infra/.local-npm/
infra/.tools/
infra/coverage/
infra/.nyc_output
infra/.nycrc
infra/.LAST_BUILD
infra/*.sw[a-z]
infra/*~
infra/.idea
infra/junit.xml

# We don't want tsconfig at the root
/tsconfig.json

# CDK Context & Staging files
infra/cdk.context.json
infra/.cdk.staging/
infra/cdk.out/
infra/*.tabl.json

# Yarn error log
yarn-error.log

# VSCode history plugin
.vscode/.history/

# Cloud9
.c9

/.versionrc.json