@font-face {
    font-family: "OfficeCodePro";
    src: url(fonts/OfficeCodePro-Regular.otf);
}
@font-face {
    font-family: "OfficeCodePro";
    src: url(fonts/OfficeCodePro-Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: "OfficeCodePro";
    src: url(fonts/OfficeCodePro-RegularItalic.otf);
    font-style: italic;
}
@font-face {
    font-family: "OfficeCodePro";
    src: url(fonts/OfficeCodePro-BoldItalic.otf);
    font-weight: bold;
    font-style: italic;
}
* {
  font-family: "OfficeCodePro";
  box-sizing: border-box;
}
header {
  text-align: center;
}
h3 {
  font-size-adjust: 110%;
  text-align: center;
}
p {
  font-size-adjust: 120%
}
.secret{ 
  color: black; 
  background-color:black;
  font-style: italic;
}
.secret:active { 
  background-color: white; 
}
.secret:hover{
  background-color: white;
}
.wrapper{
  border-left: 8px solid darkblue;
  padding: 25px 25px 25px;
  margin: 50px;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.title_center {
  margin: auto;
  text-align: center;
  font-size: x-large;
  width: 80%;
  border-left: 8px solid darkblue;
  border-bottom: 8px solid darkblue;
  padding: 20px;
}
.warning {
  color: darkred;
  font-weight: bold;
}
.gumbo-color {
  width: 180px;
  height: 30px;
  border: 7px solid black;
  background-color: #49380a;
  padding: 50px;
  margin: auto;
}
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}